* {
    margin: 0px;
}

header {
    background: white;
    border: black solid;
}

header > h1 {
    padding: 20px;
    text-align: center;
}

.lists {
    margin: 20px;
}
.list > a {
    text-decoration: none;
}
