* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: 10px auto;
}
/* css for the time and date */
.displayboard {
    padding: 30px;
    width: 700px;
    cursor: default;
}

.clockbody {
    font-size: 90px;
    color: white;
    text-align: center;
}

.datebody {
    font-size: 30px;
    color: white;
    text-align: center;
}

/* css for buttons */

.buttons {
    padding: 20px;
    cursor: default;  
    text-align: center;
}

.button {
    font-size: 140%;
    color: white;
    margin: 5px;
    padding: 5px 10px;
    opacity: 0.7;
    background: transparent;
    border: none;
}

.button:hover {
    cursor: pointer;
    color: yellow;
}

.button:focus {
    outline: 0;
}

/*css for alarm, timer and stopwatch box */

.alarmBox, .timerBox {
    display: none;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #ecf0f1 double;
    padding: 20px 20px 5px 20px;
    background: #ecf0f1;
}

.alarmInput, .timerInput{
    display: inline-block;
    margin: 20px;
    width: 60px;
    height: 60px;
    border: black solid;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 24px;
    background: transparent;
}

.alarmInput:focus, .timerInput:focus {
    outline: none;
}
.closeBtn {
    float: right;
    font-size: 20px;
}
.closeBtn:hover {
    cursor: pointer;
}

.alarmBtns, .timerBtns {
    display: flex;
    text-align: center;
   
    
}
.alarmBtn, .timerBtn{
    text-align: center;
    margin: 2px auto;
}

#setBtn, #stopBtn, #setTimerBtn, #stopTimerBtn {
    padding: 5px;
}

.runningTimerBox {
    display: none;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #ecf0f1 double;
    padding: 20px 20px 5px 20px;
    background: transparent;
    border:none;
    font-size: 30px;
    color: white;
    text-align: center;
}

